#search-nav .nav
{
    border-bottom: 2px solid #e0e0e0;
}

#search-nav .nav-link.active
{
    margin-bottom: -2px; 
    padding-bottom: 6px;

    border-bottom: 2px solid #00b5b8;
}

#search-results .media-search
{
    padding-top: 5px;
}
